/* 'sm': '640px', => @media (min-width: 640px)

'md': '768px', => @media (min-width: 768px)

'lg': '1024px', => @media (min-width: 1024px)

'xl':'1280px', => @media (min-width: 1280px)
 */

/* sm device */
@media (max-width: 640px) {
  .list {
    display: none;
  }
  .left-part {
    width: 63px;
  }

  .hero-banner {
    flex-direction: column;
    gap: 28px;
    width: 100%;
    margin-top: 0;
  }

  .hero-banner .left .text {
    font-size: 24px;
  }

  .hero-banner .left {
    order: 2;
    width: 86vw;
    margin: 0 auto;
  }
  .hero-banner .left p {
    font-size: 14px;
  }
  .hero-banner .right {
    order: 1;
    width: 100%;
    margin-top: 28px;
  }
}

@media (min-width: 641px) {
  .left-part {
    width: 100px;
  }
}

@media (min-width: 640px) and (max-width: 1340px) {
  .hero-banner .left .text {
    font-size: 3.5vw;
  }
  .hero-banner p {
    font-size: 1.7vw;
  }
}

@media (min-width: 1024px) {
  .left-part {
    width: 135px;
  }
}
