/* 'sm': '640px', => @media (min-width: 640px)

'md': '768px', => @media (min-width: 768px)

'lg': '1024px', => @media (min-width: 1024px)

'xl':'1280px', => @media (min-width: 1280px)
 */

/* sm device */
@media (max-width: 640px) {
  nav {
    margin-top: 10px;
  }
  .list {
    display: none;
  }
  .left-part {
    width: 63px;
  }

  .hero-banner {
    flex-direction: column;
    gap: 28px;
    width: 100%;
    margin-top: 0;
  }

  .hero-banner .left .text {
    font-size: 24px;
  }

  .hero-banner .left {
    order: 2;
    width: 86vw;
    margin: 0 auto;
  }
  .hero-banner .left p {
    font-size: 14px;
  }
  .hero-banner .right {
    order: 1;
    width: 100%;
    margin-top: 28px;
  }

  main {
    margin-top: 65px;
  }

  .__card__ {
    width: 155px;
  }

  .__card__ img {
    height: 196.5px;
  }

  .__flower-cards__ {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 15px;
    width: 100%;
    overflow-x: hidden;
  }

  .our-plants {
    width: 86vw;
  }
  .our-plants .label-1 {
    font-size: 24px;
  }
  .our-plants .label-1-description {
    font-size: 14px;
    width: 90%;
  }
  .card-label .card-text {
    font-size: 16px;
  }
  .__card__ .card-button {
    padding: 12px 10px;
    font-size: 14px;
  }

  .__plants-lover__ {
    width: 86vw;
    flex-direction: column;
    margin-top: 42px;
    gap: 18px;
  }
  .batch {
    display: none;
  }
  .store-left {
    width: 100%;
  }
  .store-right {
    width: 100%;
  }
  .store-right-label {
    width: 100%;
    font-size: 24px;
  }
  .store-right p {
    font-size: 14px;
  }
  .store-right ul {
    padding-left: 20px;
  }
}

@media (min-width: 641px) {
  .left-part {
    width: 100px;
  }
}

@media (min-width: 640px) and (max-width: 1340px) {
  .hero-banner .left .text {
    font-size: 3.5vw;
  }
  .hero-banner p {
    font-size: 1.7vw;
  }
  .__card__ {
    width: 20vw;
  }
  .__card__ img {
    height: 25vw;
  }
  .__card__ .card-label .card-text {
    font-size: 2vw;
  }
  .__card__ .card-button {
    font-size: 1.5vw;
    padding: auto auto;
  }
  .our-plants .label-1 {
    font-size: 3.2vw;
  }
  .our-plants p {
    font-size: 1.5vw;
  }

  .store-left .batch {
    width: 20vw;
  }
  .store-left {
    width: 45%;
  }
  .store-right {
    width: 48%;
  }
  .store-right-label {
    font-size: 3vw;
  }
  .store-right p {
    font-size: 1.5vw;
  }
  .store-right ul {
    gap: 10px;
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .left-part {
    width: 135px;
  }
}
