/* 'sm': '640px', => @media (min-width: 640px)

'md': '768px', => @media (min-width: 768px)

'lg': '1024px', => @media (min-width: 1024px)

'xl':'1280px', => @media (min-width: 1280px)
 */

/* sm device */
@media (max-width: 640px) {
  nav {
    margin-top: 10px;
  }
  .list {
    display: none;
  }
  .left-part {
    width: 63px;
  }

  .hero-banner {
    flex-direction: column;
    gap: 28px;
    width: 100%;
    margin-top: 0;
  }

  .hero-banner .left .text {
    font-size: 24px;
  }

  .hero-banner .left {
    order: 2;
    width: 86vw;
    margin: 0 auto;
  }
  .hero-banner .left p {
    font-size: 14px;
  }
  .hero-banner .right {
    order: 1;
    width: 100%;
    margin-top: 28px;
  }

  main {
    margin-top: 65px;
  }

  .__card__ {
    width: 100%;
  }

  .__card__ img {
    height: 45vw;
  }

  .__flower-cards__ {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 15px;
    width: 100%;
    overflow-x: hidden;
  }

  .our-plants {
    width: 86vw;
  }
  .our-plants .label-1 {
    font-size: 24px;
  }
  .our-plants .label-1-description {
    font-size: 14px;
    width: 90%;
  }
  .card-label .card-text {
    font-size: 16px;
  }
  .__card__ .card-button {
    padding: 12px 10px;
    font-size: 14px;
  }

  .__plants-lover__ {
    width: 86vw;
    flex-direction: column;
    margin-top: 42px;
    gap: 18px;
  }
  .batch {
    display: none;
  }
  .store-left {
    width: 100%;
  }
  .store-right {
    width: 100%;
  }
  .store-right-label {
    width: 100%;
    font-size: 24px;
  }
  .store-right p {
    font-size: 14px;
  }
  .store-right ul {
    padding-left: 20px;
  }

  .__images__ {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px); /* or adjust to your needs */
    row-gap: 20px;
    grid-template-areas:
      "img-1"
      "img-2"
      "img-3";
  }

  .img-3 {
    border-radius: 14px;
  }

  .img-3 .top {
    font-size: 20px;
  }
  .img-3 .bottom {
    font-size: 16px;
  }

  .__latest-deals__ {
    gap: 52px;
    margin-top: 143px;
  }

  .__latest-deals__ .title-deals h2 {
    font-size: 24px;
  }

  .__latest-deals__ .title-deals p {
    font-size: 14px;
  }

  .__engagement__ {
    height: 400px;
  }

  form h2 {
    font-size: 20px;
  }

  form input {
  }
  form button {
    padding: 16px 20px;
  }

  footer {
    margin-top: 50px;
  }

  footer .container {
    flex-direction: column;
    gap: 20px;
  }
  footer .container .part-1 {
    width: 100%;
  }
  footer .container .part-1 p {
    font-size: 1rem;
  }
}

@media (min-width: 641px) {
  .left-part {
    width: 100px;
  }
}

@media (min-width: 640px) and (max-width: 1391px) {
  .__images__ {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33vw); /* or adjust to your needs */
    row-gap: 20px;
    grid-template-areas:
      "img-1"
      "img-2"
      "img-3";
  }

  .__images__ .overlay h2 {
    font-size: 2.4vw;
  }

  .__images__ .overlay .shop-now {
    font-size: 1.9vw;
  }

  .img-3 {
    border-radius: 14px;
  }

  .img-3 .top {
    font-size: 20px;
  }
  .img-3 .bottom {
    font-size: 16px;
  }
}

@media (min-width: 641px) and (max-width: 1340px) {
  .hero-banner .left .text {
    font-size: 3.5vw;
  }
  .hero-banner p {
    font-size: 1.7vw;
  }
  .__card__ {
    width: 20vw;
  }
  .__card__ img {
    height: 25vw;
  }
  .__card__ .card-label .card-text {
    font-size: 2vw;
  }
  .__card__ .card-button {
    font-size: 1.5vw;
    padding: auto auto;
  }
  .our-plants .label-1 {
    font-size: 3.2vw;
  }
  .our-plants p {
    font-size: 1.5vw;
  }

  .store-left .batch {
    width: 20vw;
  }
  .store-left .spin-logo {
    width: 10vw;
  }
  .store-left {
    width: 45%;
  }
  .store-right {
    width: 48%;
  }
  .store-right-label {
    font-size: 3vw;
  }
  .store-right p {
    font-size: 1.5vw;
  }
  .store-right ul {
    gap: 10px;
    margin-top: 15px;
  }

  .__latest-deals__ {
    gap: 80px;
  }

  .title-deals h2 {
    font-size: 3.4vw;
  }
  .title-deals p {
    font-size: 1.9vw;
  }

  .__engagement__ .join-bunch {
    font-size: 4vw;
  }
  footer .container .part-1 p {
    font-size: max(1.8vw, 1rem);
  }
}

@media (min-width: 641px) and (max-width: 1050px) {
  footer .container .part-4 {
    gap: 10px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .left-part {
    width: 135px;
  }
}
