@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Inter", sans-serif; */

/* font-family: "Noto Serif", serif; */

.label-1 {
  font-family: "Noto Serif", serif;
}

.text {
  font-family: "Noto Serif", serif;
}
.text-descript {
  font-family: "Inter", sans-serif;
}

.label-1-description {
  font-family: "Inter", sans-serif;
}

.list {
  font-family: "Inter", sans-serif;
}

.card-text,
.card-button {
  font-family: "Inter", sans-serif;
}

.noto {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* text-black/50 */

.__images__ {
  display: grid;
  grid-template-areas:
    "img-1 img-3 img-3"
    "img-2 img-3 img-3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px); /* or adjust to your needs */
  row-gap: 25px;
  column-gap: 28px;
}

.img-1 {
  background-image: url("./assets/deal-bloom.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: img-1;
}

.img-2 {
  background-image: url("./assets/deal-ana.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: img-2;
}

.img-3 {
  background-image: url("./assets/deal-zabo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: img-3;
}

.__engagement__ {
  background: url("./assets/news-letter-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-logo {
  animation: spin 10s linear infinite;
  transform-origin: center center;
}
